<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Menus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body class="bgmain">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div th:insert="fragments :: mainNavbar"></div>
</nav>
<br>
<div class="container bg-light">
    <div class="row align-items-center text-center">
        <div class="col-lg-12">
            <br>
            <h2>Menus</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Number</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="menu: ${allMenus}">
                    <td th:text="${menu.number}"></td>
                    <td th:text="${menu.category}"></td>
                    <td th:text="${menu.name}"></td>
                    <td th:text="${menu.price}"></td>
                    <td>
                        <form action="#" th:action="@{'/deleteMenuAction/{id}'(id=${menu.id})}" th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" class="btn btn-outline-danger" value="Delete">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h2> Create new Menu</h2>

            <form action="#" th:action="@{/addMenuAction}" th:object="${newMenu}" th:method="post">
                <div class="form-group">

                    <label for="menusNumber">Number</label>
                    <input id="menusNumber" class="form-control" placeholder="Number"
                           type="text" th:field="${newMenu.number}"/>

                    <label for="menusCategory">Category</label>
                    <input id="menusCategory" class="form-control" placeholder="Category"
                           type="text" th:field="${newMenu.category}"/>

                    <label for="menusName">Name</label>
                    <input id="menusName" class="form-control" placeholder="Name"
                           type="text" th:field="${newMenu.name}"/>

                    <label for="menusPrice">Price</label>
                    <input id="menusPrice" class="form-control" placeholder="Price"
                           type="text" th:field="${newMenu.price}"/>
                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Add" class="btn btn-outline-primary"/>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</body>
</html>