<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="bgmain">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div th:insert="fragments :: mainNavbar"></div>
</nav>
<br>
<div class="container bg-ristorante">
    <div class="row align-items-center text-center">
        <div class="col-lg-12">
            <br>
            <h2>Reservations</h2>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th>Date and Time</th>
                    <!--                    <th>is Paid?</th>-->
                    <th>Tip amount</th>
                    <th>Table</th>
                    <th>Client</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation: ${allReservations}">
                    <td th:text="${reservation.dateAndTime}"></td>
                    <!--                    <td th:text="${reservation.Paid} ? 'Paid' : 'Not Paid'"></td>-->
                    <td th:text="${reservation.tip}"></td>
                    <td class="btn btn-primary" th:text="${reservation.tables.id}"></td>

                    <td th:text="${reservation.client.name} + ' '
                    + ${reservation.client.surname}"></td>

                    <td>
                        <form action="#" th:action="@{'/deleteReservationAction/{id}'(id=${reservation.id})}"
                              th:method="delete">
                            <input type="hidden" name="_method" value="delete"/>
                            <input type="submit" class="btn btn-outline-danger" value="Delete">
                        </form>
                    </td>

                    <td>
                        <form action="#" th:unless="${reservation.Paid}"
                              th:action="@{'/reservations/{id}'(id=${reservation.id})}" th:object="${reservationForm}"
                              th:method="post">
                            <input type="hidden" name="_method" value="put"/>
                            <input type="submit" class="btn btn-warning" value="Confirm Payment">
                        </form>
                    </td>
                    <td>
                        <!--th:unless="${reservation.Paid}"-->
                        <form action="#"
                              th:action="@{'/setTipAmount/{id}' (id=${reservation.id})}" th:object="${reservationForm}"
                              th:method="post">
                            <input id="tip" class="form-control" type="text" th:field="${reservationForm.tip}" th:value="${reservationForm.tip}"/>
                            <input type="submit" value="Give tip" class="btn btn-outline-success">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <h2>Add Reservation</h2>

            <form action="#" th:action="@{/addReservationAction}" th:object="${reservationForm}" th:method="post">
                <div class="form-group">

                    <label for="dateAndTime">Date and Time</label>
                    <input id="dateAndTime" class="form-control"
                           type="datetime-local" th:field="${reservationForm.dateAndTime}"/>


                    <legend>Select Client</legend>
                    <select th:field="${reservationForm.clientId}" name="client">
                        <option th:each="client : ${allClients}"
                                th:value="${client.getId()}"
                                th:text="${client.name} + ' ' + ${client.surname}"/>
                    </select>

                    <legend>Select Table</legend>
                    <select th:field="${reservationForm.tablesId}" name="tables">
                        <option th:each="tables : ${allUnoccupiedTables}"
                                th:value="${tables.getId()}"
                                th:text="${tables.size} + ' seats'"/>
                    </select>


                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Add" class="btn btn-outline-primary"/>
                </div>
            </form>
        </div>
        <div class="col-lg-4">


        </div>
    </div>


</div>
</body>
</html>