<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Restaurant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body class="bgmain">
<div style="padding-top: 200px"></div>

<section>
    <div class="container bg-indexPage">
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <img class="img-fluid" width="60%" src="img/ristoranteLogo.png" alt="GrandeRistoranteLogo">
            </div>
        </div>
        <div class="row align-items-center text-center">
            <div class="col-sm-2 text-center">
                <p class="pb-3">
                    <a href="/allClientsPage"> <button class="btn btn-management btn-success">Manage Clients</button></a>
                </p>
            </div>
            <div class="col-sm-2 text-center">
                <p class="pb-3">
                    <a href="/allMenusPage"><button class="btn btn-management btn-success">Manage Menu</button></a>
                </p>
            </div>
            <div class="col-sm-2 text-center">
                <p class="pb-3">
                    <a href="/allReservationsPage"><button class="btn btn-management btn-success">Manage Reservations</button></a>
                </p>
            </div>
            <div class="col-sm-2 text-center">
                <p class="pb-3">
                    <a href="/tablesPage"><button class="btn btn-management btn-success">Manage Tables</button></a>
                </p>
            </div>
            <div class="col-sm-2 text-center">
                <p class="pb-3">
                    <a href="/allOrdersPage"><button class="btn btn-management btn-success">Manage Orders</button></a>
                </p>
            </div>
        </div>
    </div>
</section>

</body>
</html>